/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ------------- GENERAL ------------- */
body {
  min-height: 100%;
  background: #e3f2fd;
}
label {
  color: #a7a7a7;
  font-size: 15px;
  font-family: poppins;
  font-weight: 450;
}

/* ------------- MODAL ------------- */
.modal-header, .modal-body, .modal-footer {
  background: #FFFFFF;
  border-width: 2px;
  border-color: #E7E7E7;
}
.modal-title {
  color: #13416B;
  font-size: 20px;
  font-family: var(--poppins);
  font-weight: 450;
}
.modal-btn-cancel{
  background: #C9C5C5;
  color: #fff;
  font-size: 15px;
  font-family: var(--poppins);
  font-weight: 450;
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
}
.modal-btn-add{
  background: #13416B;
  color: #fff;
  font-size: 15px;
  font-family: var(--poppins);
  font-weight: 450;
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
}
.btn-add{
	padding: 10px 20px;
	color: #ffffff;
	background-color: #303850;
}

/* ------------- PROFILE ------------- */
.profile-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 10px;
  }
  .profile-container li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	grid-gap: 24px;
  }
  .profile-btn {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
  }
  .form-row {
	margin-left: 5px;
	margin-right: 5px;
  }

/* ------------- LOGIN ------------- */
body {
    padding: 0;
    margin: 0;
    background-image: url(../img/background.jpg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
	background-image: url(../img/background.jpg);
	background-size: cover;
}
.box {
    position: absolute;
    width: 400px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0 10px 10px 10px rgb(0, 0, 0, .2);
}
.header{
    font-size: larger;
    color: #000000; 
}

.login-area {
    text-align: center;
    padding: 30px 30px 30px 30px;
    color: #414141;
}
input.username{
	margin: 0;
	margin-bottom: 15px;
}
input.password{
	margin: 0;
	margin-bottom: 15px;
}
.username,.password {
    width: 100%;
    text-align: center;
    padding: 13px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    background-color: #868897;
    margin-bottom: 15px;
    transition: .5s;
}

.username::placeholder,
.password::placeholder {
    color: rgba(255, 255, 255, .7);
}

.username:focus,
.password:focus {
    background-color: #868897;
}

.submit {
    width: 150px;
    padding: 10px;
    background-color: #37383a;
    border-radius: 10px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    border: none;
    outline: none;
    margin: 10px;
    transition: .2s;
    cursor: pointer;
}

.submit:hover {
    background-color: #2c2b2e;
}


/* ------------- DASHBOARD, PERSONIL ------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
	justify-content: center;
}
/* Dropdown Button */
.dropbtn {
	background-color:#13416B;
	color: rgb(255, 255, 255);
	padding: 10px 12px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	font-family: var(--poppins);
}
  
  /* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
	background-color: #adc4d3;
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 10px;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display:block;
}

.drop_btn {
	background-color: var(--blue);
	color: rgb(255, 255, 255);
	padding: 10px;
	font-size: 15px;
	border: none;
	border-radius: 15px;
	font-family: var(--poppins);
}
.drop_down {
	position: relative;
	display: inline-block;
}
.drop_down-content {
	display: none;
	position: absolute;
	background-color: #A3C7D6;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
	border-radius: 15px;
	z-index: 1;
}
.drop_down-content a {
	color: var(--blue);
	padding: 10px 12px;
	text-decoration: none;
	display: block;
}

.drop_down-content a:hover {
	background-color: var(--blue);
	border-radius: 15px;	
}

.drop_down:hover .drop_down-content {
	display: block;
}

.drop_down:hover .drop_btn {
	background-color: var(--blue);
}

.asd {
	list-style: none;
	justify-content: center;
}

.wrapper{
	border: 1px solid #a1a1a1;
	width: 100%;
	border-radius: 10px;
}

.wrapper header{
	border: 1px #a1a1a1;
	align-items: center;
	justify-content:space-between;
}
header.icons{
	display: flex;
}
header .icons span{
	height: 38px;
	width: 38px;
	margin: 0 1px;
	cursor: pointer;
	color: #000000;
	text-align: center;
	line-height: 38px;
	font-size: 1.9rem;
	user-select: none;
	border-radius: 40%;
}
.icons span:last-child{
	margin-right: -10px;
}
header .icons span:hover{
	background: #f2f2f2;
}

.events{
	background: #aabed1;
	width: 600px;;
	height: 450px;
	border-radius: 15px;
	box-shadow: 0 15px 40px rgba(2, 2, 2, 0.12);
}
.title{
	color: #585858;
	width: fit-content;
	height: fit-content;
	
}
button{
	outline: none;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	padding: 10px;
}
/* td button:nth-child(1){
	background-color: var(--light-yellow);
	color: rgb(0, 0, 0);
	font-family: var(--poppins);
	
}
td button:nth-child(2){
	background-color: var(--light-orange);
	color: #000000;
	font-family: var(--poppins);
} */
.searchlist{
	padding: 10px 20px;
	color: #F9F9F9;
	font-family: var(--poppins);
	background-color: var(--blue);
}
input{
	padding: 10px 20px;
	margin: 0 10px;
	outline: none;
	border: 1px solid --blue;
	border-radius: 15px;
	color: var(--blue);
	font-family: var(--poppins);
}

tbody td{
	padding: 10px 20px;
	text-align: center;
	color: #000000;
} 
::placeholder{
	color: #343249;
}

:root {
	--poppins: 'Poppins', sans-serif;

	--lightt: #fafafa;
	--light: #F9F9F9;
	--blue: #375b7d;
	--light-blue: #CFE8FF;
	--bluee: #ccd7e2;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #191a1b;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--bg-color-a: #3b39af; /* page header + form label */
  	--bg-color-b: #404040; /* calendar header */
 	--bg-color-c: #d73a3a; /* buttons */
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #252525;
	--grey: #4d4d4d;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}

/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--poppins);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
ul.side-menu.top {
    align-items: center;
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;
}
ul.side-menu {
    padding: 0 0 0 0px;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 15px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */

/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}

/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--poppins);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
	font-size: 13px;
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content nav .switch-mode  {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked +  .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */

/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
.sd {
	font-size: 23px;
    font-weight:bolder;
    margin-bottom: 10px;
    color: var(--dark);
}

#content main .head-title .left .sd h1{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content main .head-title .left  .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}

ul.box-info{
	padding: initial;
}
#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: grid;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
	align-items: center;
	text-align: center;
	margin : 0 auto;
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
	align-items: center;
	text-align: center;
	margin : 0 auto;
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
	align-items: center;
	text-align: center;
	margin : 0 auto;
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}

#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}
#content main .table-data /*.calendarr*/ {
	flex-grow: inherit;
	flex-basis: 550px;
}
#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 16px;
	text-align: center;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 16px 0;
}
#content main .table-data .order table tr td:first-child {
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
span.status.completed {
    background: #6397ba ;
    border-radius: 8px;
}
#content main .table-data .order table tr td {
	background: var(--blue);
}
span.status.open {
    background: rgb(113, 197, 136);
    border-radius: 8px;
}
#content main .table-data .order table tr td {
	background: var(--yellow);
}

span.status.pending {
    background: rgb(231, 214, 133);
    border-radius: 8px;
}
#content main .table-data .order table tr td {
	background: var(--orange);
}

/* MAIN */
/* CONTENT */

@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}

@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}

/*TABEL*/
select.form-select.form-select-sm {
    display: block;
    width: 22%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
    text-align: center;
}

.label{
	font-size: large;
}
.row.dt-row{
	margin-top: 20px;
	margin-bottom: 20px;
}
select.form-select.form-select-sm {
	display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
table#example {
	border-radius: 10px;
    background: var(--lightt);
}
.active>.page-link, .page-link.active {
    z-index: 3;
    color: #000;
    background-color: var(--bluee);
    border-color: var(--bluee);
}
.boxx{
	display: inline-flex;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 30px;
	margin-top: 15px;
}
ul.boxx{
	padding: 0;
}
.boxxx{
	align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
	width: inherit;
}
.mini-box{	
	height: 390px;
	margin-left: 90px;
	align-items: center;
    grid-gap: 16px;
}
.minibox{
	padding: 10px;
	display: inline-block;
	align-items: center;
    grid-gap: 16px;
	margin-top: 24px;
}
input.form-control {
	/* height: 40px; */
    margin: 0;
	/* padding: 10px; */
}